html {
  background-color: blue;
}

h1 {
  color: cyan;
  text-shadow: -2px 2px black;
  font-size: 34pt;
}

h3 {
  text-decoration: underline;
}

main {
  display: grid;
  grid-template-columns: 60% auto;
  gap: 20px;
  align-items: start;
}

article {
  background-color: white;
  padding: 10px;
  margin: 20px;
}

article img {
  width: 100%;
}

#sidebar {
  background-color: white;
  padding: 10px;
}

#sidebar h2 {
  color: red;
}

#sidebar img {
  width: 100%;
}

.date {
  font-style: italic;
}

footer {
  font-family: "Comic Sans MS";
}
